DB_USERNAME=root
DB_PASSWORD=123456
DB_TYPE=mysql
DB_HOST=localhost
DB_NAME=hrmn
DB_PORT=3306
DB_SYNCHRONIZE=true

JWT_SECRET=eyJzZWNyZXQiOiJ0aGlzX2lzX2E_random_long_secret_1234567890
MAIL_PORT=465


ADMIN_NAME=Admin
ADMIN_EMAIL=admin@local.com
ADMIN_PASSWORD=123456